extends layout

block content
  h1 Lisa Xie
  .wrapperRight
    .texts
      .about
        p I like dogs and flightless birds.
        p I am a first year at the University of Edinburgh studying Computer Science and Management. I love travelling and Pokemon. 
      .experiences
        p. Look so much stuff - such high exp. almost level 1000
      .resume
        p Look at all the awesome jobs I've done -> please give me a job
        p <a href="./images/DisplayResume.pdf" target="blank">Open in a new tab</a>
        iframe(src="./images/UsaResume.pdf")
  .anchorList
    a#about(href="") About
    a#experiences(href="") Experiences
    a#resume(href="") Resumé

